* {
  box-sizing: border-box
}

#contents {
  margin: 0 auto; /* 화면 중앙에 배치 */
  width: 1800px;  /* 화면 너비 지정 */
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

.page_date {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  font-size: 20px;
}

/* --- 테이블 뉴스 --- */
.table-news {
  width: 60%;
  margin : 20px auto;
}

.table-news, td {
  border: 1px solid black;
  border-collapse: collapse;
  vertical-align: middle;
}

table tr {
  height: 44px;
}

.table-title {
  padding-left: 10px;
  font-size: 16px;
  color: black;
}

.table-title:visited {
  color: blue;
  text-decoration: none;
}

.table-press {
  padding-left: 10px;
  font-size: 15px;
  color: black;
}

.table-press:visited {
  color: blue;
  text-decoration: none;
}


