header {
  background-color: #9e9a9a;
}

header .inner {
  width: 1900px;
  height: 120px;
  margin: 0 auto;
  position: relative;
}

header .logo {
  height: 75px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 20px;
  margin: auto;
}

header .sub_menu {
  position: absolute;
  top: 10;
  right: 0;
  display: flex;
}

header .sub_menu ul.menu {
  font-family: Arial, sans-serif;
  display: flex;
}

header .sub_menu ul.menu li {
  position: relative;
}

header .sub_menu ul.menu li::before {
  content: "";
  width: 1px;
  height: 15px;
  background-color: #5a5a5a;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}

header .sub_menu ul.menu li:first-child::before {
  display: none;
}

header .sub_menu ul.menu li a {
  display: block;
  padding: 11px 16px;
  font-size: 15px;
  color: #e7e7e7;
}

header .sub_menu ul.menu li a:hover {
  color: #cacaca;
}

header .main_menu {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
  display: flex;
  margin-bottom: 20px;
}

header .main_menu .item .item_name {
  padding: 10px 20px 34px 20px;
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: black;
}

header .main_menu .item .item_name:hover {
  color: #5125b9;
}
