
/* === ckeditor5 === */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@media print {
	body {
		margin: 0 !important;
	}
}

#contents {
  margin: 0 auto; /* 화면 중앙에 배치 */
  width: 1000px;  /* 화면 너비 지정 */
}

.main-container {
	font-family: 'Lato';
	width: fit-content;
	margin-left: auto;
	margin-right: auto;
}

.ck-content {
	font-family: 'Lato';
	line-height: 1.6;
	word-break: break-word;
}

.editor-container_classic-editor .editor-container__editor {
	min-width: 1000px;
	max-width: 1000px;
}

.ck-editor__editable { min-height: 500px; }
.ck-content { 
  font-size: 16px; 
}
.ck.ck-editor{
  max-width: 1000px;
}

.page_title {
  display: flex;
  justify-content: center;
  margin: 30px auto;
  font-size: 20px;
}

.input_title {
  padding: 5px 10px;
  font-size: 16px;
  margin-bottom: 10px;
  width: 80%;
}

.buttons {
  display: flex;
  justify-content:space-between;
}

input[type=button] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
  margin-top: 20px;
  /* margin-left: 1020px; */
}

input[type=button]:hover {
  background-color: #45a049;
}