@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@media print {
	body {
		margin: 0 !important;
	}
}

#contents {
  margin: 0 auto; /* 화면 중앙에 배치 */
  width: 1000px;  /* 화면 너비 지정 */
}


/* 게시판 제목 */
.table_head {
  margin-top: 40px;
  margin-bottom: 20px;
  line-height: 30px;
}
.page_title {
  font-size:22px;
  font-weight: bold;
}
.page_title_desc {
  font-size:14px;
  color: darkgray;
}


/* 게시물 제목 */
.input_title {
  padding: 5px 10px;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
  width: 100%;
  border-style: solid;
  border-color: lightgray;
  background-color: rgb(242, 242, 242);
  box-sizing: border-box;
}


/* ckeditor */
.main-container {
	font-family: 'Lato';
  width: 100%;
}
.editor-container_classic-editor .editor-container__editor {
  min-width: 100%;
	max-width: 100%;
}
.ck-editor__editable { 
  height: fit-content;
}
.ck-content { 
  font-family: 'Lato';
	line-height: 1.6;
	word-break: break-word;
  font-size: 16px; 
  height:500px;
  white-space: pre; /* placeholder 줄바꿈 */
}
.ck.ck-editor{
  min-width: 100%;
  max-width: 100%;
}
.ck.ck-content li { 
  margin-left: 24px; 
}


/* 목록버튼 등록버튼 */
.buttons {
  display: flex;
  justify-content:space-between;
}
input[type=button] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
  margin-top: 20px;
}
input[type=button]:hover {
  background-color: #45a049;
}
#post_btn {
  background-color: darkgoldenrod;
}