
* {
  box-sizing: border-box;
}

#contents {
  margin: 0 auto; /* 화면 중앙에 배치 */
  width: 1000px;  /* 화면 너비 지정 */
}

.table_head {
  display: flex;
  justify-content: space-between;
  margin: 40px auto;
}

.page_title {
  /* margin-top: 20px; */
  font-size: 18px;
  /* text-align: center; */
}

form.example {
  /* margin : 40px auto 0px auto; */
  max-width: 400px;
}

form.example input[type=text] {
  padding: 10px;
  font-size: 15px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
}

form.example button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 15px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}

form.example button:hover {
  background: #0b7dda;
}

form.example::after {
  content: "";
  clear: both;
  display: table;
}

/* === 리스트 테이블 === */
table { 
  line-height: 40px; 
  width: 100%;
  /* margin : 30px auto; */
  /* margin-top: 0px; */
  margin-bottom: 30px;
}

table, th, td { 
  border: 1px solid darkgray; 
  border-collapse: collapse;
  vertical-align: middle;
}

th {
  background-color: rgb(232, 232, 232);
}

.td_title {
  padding-left: 10px;
}

.td_title a:link {
  color: black;
}

.td_title a:visited {
  color: black;
}

.td_center {
  text-align: center;
}

.buttons {
  border: none; 
  color: white; 
  padding: 10px 20px; 
  cursor: pointer;
  background-color: #04AA6D;
}

.buttons:hover {
  background-color: #46a049;
}

#page_indicator {
  text-align: center; 
}

#page_indicator a {
  padding: 5px 5px;
  font-size: 15px;
}

.page_num {
  display: inline;
}

.page_num a.active {
  color: blue;
  font-weight: bold;
}

.page_arrow {
  display: inline;
}

.page_arrow span {
  font-size: 16px;
}