.dropdownbar {
  margin-bottom: 10px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  background-color: #373737;
  color: rgb(255, 255, 255);
  padding: 10px;
  font-size: 15px;
  border: none;
  cursor: pointer;
  min-width: 100px;
}
.dropbtn:hover, .dropbtn:focus {
  background-color: #373737c7;
}

/* dropdown 세부 목록 */
.dropdown_content {
  display: none;
  position: absolute;
  background-color: #373737;
  min-width: 100px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  text-align: center;
}

.dropdown_content a {
  color: rgb(255, 255, 255);
  padding: 8px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {
  background-color: #373737;
  color: yellow;
}

.show {
  display: block;
}
