/* dropdown에서 선택한 특약제목  */
.clause_name {
  border: none;
  color: white;
  width: 180px;
  height: 42px;
  text-align: center;
  background-color: #3468B6;
  font-size: 16px;
  display: inline-block;
  line-height: 42px;
  border-radius: 10px 10px 0px 0px;
}


/* 수정 버튼 */
.edit_btn {
  border: none;
  color: white;
  width: 60px;
  height: 41px;
  text-align: center;
  background-color: rgb(1, 167, 1);
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
  line-height: 40px;
  border-radius: 5px 5px 0px 0px;
  opacity: 0.9;
}
.edit_btn:hover {
  opacity: 1;
}


/* 특약 테이블 */
.table_clause {
  width: 100%;
}
.table_clause, td {
  border: 1px solid black;
  border-collapse: collapse;
  vertical-align: middle;
}
#col_size {
  width: 10%;
}
table tr {
  height: 40px;
}
.content {
  color: rgb(130, 130, 130);
  padding-left: 15px;
}


/* 선택 버튼 */
.select_btn {
  float: right;
  margin-right: 5px;
  display: none;
}
.show_btn{
  display: inline;
}
.select_btn:hover {
  background-color: rgb(196, 196, 196);
}
