<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>부동산 도우미 - 서식자료실</title>
  <meta name="description" content="부동산 업무에 종사하는 분들에게 도움을 드립니다">

  <!-- 브라우저 css 기본스타일 초기화 -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.2/reset.min.css">

  <!-- ajax 사용을 위한 제이쿼리 -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

  <!-- ckeditor5 cdn -->
  <link rel="stylesheet" href="https://cdn.ckeditor.com/ckeditor5/43.1.0/ckeditor5.css">
  <link rel="stylesheet" href="../css/document/document_write.css">

  <!-- css 링크  -->
  <link rel="stylesheet" href="../css/main.css">
  <link rel="stylesheet" href="../css/header.css">

  <!-- js 링크  -->
</head>

<body>

  <!-- ===== header ===== -->
  <header>
    <%- include('header', {user:user}) %>
  </header>

  <div id="contents"> 
    <div class="table_head">
      <p class="page_title">서식자료실</p>
      <p class="page_title_desc">다양한 부동산 업무 서식을 공유하세요</p>
    </div>

    <form action="" method="POST" enctype="multipart/form-data">
      <div class="table_title">
        <input type="text" class="input_title" placeholder="제목을 입력하세요">
      </div>
  
      <div>
        <div class="main-container">
          <div class="editor-container editor-container_classic-editor" id="editor-container">
            <div class="editor-container__editor"><div id="editor"></div></div>
          </div>
        </div>
      </div>
  
      <!-- 파일첨부 -->
      <div class="file_attach">
        <input type="file" name="attachment" class="attach_btn">
        <p class="file_limit"> 첨부파일의 크기는 2 mb를 초과할 수 없습니다 </p>
      </div>
  
      <div class="buttons">
        <input type="button" value="목록" onclick="location.href='/document_list'">
        <input type="button" id="post_btn" value="등록">
      </div>
    </form>

  </div> 

  <!-- ckeditor5 -->
  <script type="importmap">
		{
			"imports": {
				"ckeditor5": "https://cdn.ckeditor.com/ckeditor5/43.1.0/ckeditor5.js",
				"ckeditor5/": "https://cdn.ckeditor.com/ckeditor5/43.1.0/"
			}
		}
	</script>
	<script type="module" src="../js/document/document_write.js"></script>

</body>
</html>