<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>부동산 도우미 - 매물찾아요</title>
  <meta name="description" content="부동산 업무에 종사하는 분들에게 도움을 드립니다">

  <!-- 브라우저 css 기본스타일 초기화 -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.2/reset.min.css">

  <!-- ajax 사용을 위한 제이쿼리 -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  
  <!-- ckeditor5 cdn -->
  <link rel="stylesheet" href="https://cdn.ckeditor.com/ckeditor5/43.1.0/ckeditor5.css">
  <link rel="stylesheet" href="../css/find/find_write.css">

  <!-- css 링크  -->
  <link rel="stylesheet" href="../css/main.css">
  <link rel="stylesheet" href="../css/header.css">

  <!-- js 링크  -->
</head>

<body>

  <!-- ===== header ===== -->
  <header>
    <%- include('header', {user:user}) %>
  </header>

  <div id="contents"> 
		<!-- page title -->
    <div class="page_title"> <span>매물찾아요 내용</span> </div>

    <label>
      <input type="text" class="input_title" value="<%= data[0].title %>">
      <input type="hidden" class="input_no" value="<%= data[0].id %>">
      <input type="hidden" class="input_content" value="<%= data[0].content %>">
    </label>

		<div>
			<div class="main-container">
				<div class="editor-container editor-container_classic-editor" id="editor-container">
					<div class="editor-container__editor"><div id="editor"></div></div>
				</div>
			</div>
		</div>

    <div class="buttons">
      <% if(user && (user.id == data[0].user_id) ) { %>
        <input type="button" id="edit_btn" value="수정하기">
        <input type="button" id="delete_btn" value="삭제하기">
      <% } %>
      <input type="button" value="목록" onclick="location.href='/find_list'">
    </div>
  </div> 

  <!-- ckeditor5 -->
  <script type="importmap">
		{
			"imports": {
				"ckeditor5": "https://cdn.ckeditor.com/ckeditor5/43.1.0/ckeditor5.js",
				"ckeditor5/": "https://cdn.ckeditor.com/ckeditor5/43.1.0/"
			}
		}
	</script>
	<script type="module" src="../js/find/find_detail.js"></script>

</body>
</html>