<head>
  <script src="../js/index/header.js"></script>
</head>


<div class="header">
  <a href="/" class="logo">
    <img src="../images/bds_logo.png">
  </a>

  <div class="login_menu">
    <ul class="login_menu_list">
      <li class="to_home"><a href="/"> 홈으로 </a></li>

      <li class="space_line"><a href="#">|</a></li>

      <% if (user) { %>
        <li><a href="/logout"><%= user.name %> 님, 환영합니다 [로그아웃]</a></li>
      <% } else { %>
        <li><a href="/login">로그인</a></li>
      <% } %>
    </ul>
  </div>
</div>

<div class="navbar">
  <a href="/" id="nav_clause">특약사항</a>
  <a href="/qna_list" id="nav_qna">질문답변</a>
  <a href="/find_list" id="nav_find">매물찾아요</p></a>
  <a href="/bookmark" id="nav_bookmark">즐겨찾기</p></a>
  <a href="/news" id="nav_news">부동산뉴스</a>
  <a href="#" class="planned" id="find">서식자료실</a>
  <a href="/calendar" id="nav_calendar">일정관리</a>
</div>


