<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>부동산 도우미 - 로그인 페이지</title>
  <meta name="description" content="부동산 도우미에 로그인 하고 다양한 서비스를 이용해 보세요">

  <!-- 브라우저 css 기본스타일 초기화 -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.2/reset.min.css">

  <!-- 제이쿼리 -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  
  <!-- css 링크  -->
  <link rel="stylesheet" href="../css/main.css">
  <link rel="stylesheet" href="../css/menu.css">
  <link rel="stylesheet" href="../css/login.css">
  
  <!-- js 링크  -->

</head>
<body>
  <div id="container">

    <!-- Header -->
    <header>
      <%- include('menu', {user:user}) %>
    </header>

    <!-- 로그인 -->
    <div class="login_container">
      <form action="#">
        <div class="login">
          <span class="title">로그인</span>
          <hr>
      
          <label for="name">아이디</label>
          <input type="text" id="name">
      
          <label for="pw">비밀번호</label>
          <input type="password" id="pw">
      
          <button type="button" class="login_btn" onclick="Login()">로그인</button>
        </div>
      
        <div class="login_link">
          <a href="#" onclick="showFindpw();">비밀번호 찾기</a> 
          <a href="#" onclick="showFindid();">아이디 찾기</a>
          <a href="/signup">회원가입</a>
        </div>
      </form>
    </div>
  </div>

  <!-- 로그인 버튼 클릭시 -->
  <script>
    function Login() {
      let name = document.querySelector("#name").value;
      let pw = document.querySelector("#pw").value;

      if (name == "") 
        alert("아이디를 입력해주세요")
      else if (pw == "") 
        alert("비밀번호를 입력해주세요")
      else {
        $.ajax({
          url : "/login",
          type : "POST",
          data : {name:name, pw:pw},
          success : function(data) {
            if(data == "로그인성공") {
              alert("로그인 되었습니다")
              window.location.href = '/';
            }
            else if(data == "로그인실패") {
              alert("아이디 또는 비밀번호를 잘못 입력했습니다");
            }
          }
        })
      }
    }
  </script>
      
</body>
</html>