* {
  box-sizing: border-box;
}

#contents {
  margin: 0 auto; /* 화면 중앙에 배치 */
  width: 1000px;  /* 화면 너비 지정 */
}


/* 게시판 제목 */
.table_head {
  margin-top: 40px;
  line-height: 30px;
}
.page_title {
  font-size:22px;
  font-weight: bold;
}
.page_title_desc {
  font-size:14px;
  color: darkgray;
}

/* 검색창 */
.document_search_text {
  width: 200px;
  padding: 8px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
.document_search_text:focus {
  background-color: #ddd;
  outline: none;
}
.document_search_btn {
  background-color: #04AA6D;
  color: white;
  padding: 8px 10px;
  margin: 8px 0px;
  border: none;
  cursor: pointer;
  width: 60px;
  display: inline;
  opacity: 0.9;
  font-size: 14px;
}
.document_search_btn:hover {
  opacity:1;
}

/* 게시판 테이블 */
table { 
  line-height: 40px; 
  width: 100%;
  margin-bottom: 30px;
}
table, th, td { 
  border: 1px solid darkgray; 
  border-collapse: collapse;
  vertical-align: middle;
}
th {
  background-color: rgb(232, 232, 232);
}
.td_title {
  padding-left: 10px;
}
.td_title a:link {
  color: black;
}
.td_title a:visited {
  color: black;
}
#comment_count {
  color: red;
  font-weight: bold;
  font-size: 14px;
}
.td_center {
  text-align: center;
}


/* 페이지 인디케이터 */
#page_indicator {
  text-align: center; 
}
#page_indicator a {
  padding: 5px 5px;
  font-size: 15px;
}
.page_num {
  display: inline;
}
.page_num a.active {
  color: blue;
  font-weight: bold;
}
.page_num a.deactive {
  color: black;
}
.page_arrow {
  display: inline;
}
.page_arrow span {
  font-size: 16px;
}


/* 목록버튼, 글쓰기버튼 */
.list_btns {
  display: flex;
  justify-content: space-between;
}
.btn {
  border: none; 
  color: white; 
  padding: 10px 20px; 
  cursor: pointer;
  background-color: #04AA6D;
}
.btn:hover {
  background-color: #46a049;
}
#write_btn {
  background-color: darkgoldenrod;
}